/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.page {
    background-color: rgb(218, 234, 240);
}
.bgc{
    background-color: rgba(111, 173, 184, 0.589);
}
.img {
    background-image: asset-url('watermark-background.ccf713b.png');
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 74px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.he{
  height: 701px;
}




